@import "../../styles/colors.scss";

.home-main {
  width: 100%;
  display: flex;
  height: 100vh;

  .progress-container {
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-inner {
    width: 78%;
    height: 100%;
    overflow-y: scroll;

    .home-header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 35px;

      .profilebtn {
        width: 141px;
        height: 47px;
        border-radius: 36px;
        background-color: rgba(247, 247, 247, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0em;
          // text-align: left;
        }
      }

      .searchbar {
        width: 393px;
        height: 47px;
        border-radius: 36px;
        border: 2px solid rgba(124, 124, 124, 1);
        display: flex;
        align-items: center;
        input {
          width: 82%;
          outline: none;
          border: none;
          margin-left: 20px;
        }
        .searchicon {
          font-size: 25px;
          color: rgba(124, 124, 124, 1);
        }
      }

      .sortbtn {
        width: 105px;
        height: 40px;
        border-radius: 36px;
        border: 2px solid rgba(124, 124, 124, 1);
        select {
          width: 95px;
          height: 40px;
          border-radius: 36px;
          border: none;
          outline: none;
          margin-left: 5px;
          // padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    .create-card-div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 45px;

      .create-card-btn {
        width: 298px;
        height: 57px;
        border-radius: 36px;
        border: 1px solid $c2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .plusicon {
          font-size: 30px;
        }

        p {
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0em;
          margin-left: 10px;
        }
      }
    }

    .contact-cards-main {
      width: 100%;
      display: flex;
      justify-content: center;
      // border: 1px solid black;
      .contact-card-container {
        width: 90%;
        height: 100%;
        display: grid;
        // justify-content: start;
        margin-left: 35px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 10px;
        row-gap: 25px;

        margin-top: 60px;
      }
    }
  }
}
