@import "../../../styles/colors.scss";
.about-main {
  width: 52%;
  height: 100%;
  box-shadow: 10px 0px 10px 0px #00000010;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }

  .about-upper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .lead-direct {
      width: 50%;
      height: 47px;
      background-color: #f7f7f7;
      border-radius: 36px;
      display: flex;
      justify-content: space-around;

      .lead {
        display: flex;
        align-items: center;
        p {
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0em;
          margin-left: 3px;
        }
      }
      .direct {
        display: flex;
        align-items: center;
        p {
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0em;
          margin-left: 3px;
        }
      }
    }

    .add-link {
      width: 45%;
      height: 47px;
      // border: 1px solid black;
      background-color: black;
      border-radius: 36px;
      font-family: Inter;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
    }
  }
  .cmplt-prfl-info {
    width: 145px;
    height: 36px;
    border-radius: 36px;
    background-color: #fdfafa;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .select-clr-container {
    width: 325px;
    height: 36px;
    border-radius: 36px;
    margin-top: 20px;
    background-color: #f2f2f2;
    margin-left: 20px;
    font-family: Inter;
    font-size: 7px;
    font-weight: 500;
    line-height: 8px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    // justify-content: ;
    h2 {
      font-family: Inter;
      font-size: 10px;
      font-weight: 500;
      line-height: 8px;
      letter-spacing: 0em;
      color: #a3a3a3;
      margin-left: 9px;
    }
    .clrs {
      width: 72%;
      margin-left: 12px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      //   border: 1px solid black;
      .single-clr {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: black;
        cursor: pointer;
      }
    }
  }

  .imgs-input {
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    .bg-img {
      width: 90%;
      height: 139px;
      border-radius: 36px;
      margin-top: 10px;
      cursor: pointer;
    }

    .prfl-img {
      width: 112px;
      height: 112px;
      border-radius: 100%;
      position: absolute;
      bottom: -30px;
      left: 20px;
      cursor: pointer;
    }

    .prfl-img-label {
      position: absolute;
      bottom: -30px;
      left: 20px;
      cursor: pointer;
    }
  }

  .twice-input {
    margin-left: 20px;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.custom-margin {
      margin-top: 50px;
    }

    &.alternate-margin {
      margin-top: 10px;
    }

    .input1,
    .input2 {
      width: 192px;
      height: 34px;
      border-radius: 36px;
      background-color: #f2f2f2;
      outline: none;
      border: none;
      padding-left: 15px;
      &::placeholder {
        color: #a3a3a3;
        font-family: Inter;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        // text-align: left;
      }
    }
    // .input2 {
    //   width: 207px;
    //   height: 34px;
    //   border-radius: 36px;
    //   background-color: #f2f2f2;
    //   outline: none;
    //   border: none;

    // }
  }

  .first-field {
    @extend .twice-input;
    @extend .custom-margin;
  }

  .second-field {
    @extend .twice-input;
    @extend .alternate-margin;
  }
  textarea {
    width: 415px;
    height: 64px;
    border-radius: 30px;
    background-color: #f2f2f2;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    padding-left: 15px;
    padding-top: 10px;
    outline: none;
    border: none;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;

    &::placeholder {
      color: #a3a3a3;
      font-family: Inter;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0em;
      // text-align: left;
    }
  }

  .btns-main {
    width: 430px;
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btns-inner {
      width: 237px;
      display: flex;
      justify-content: space-between;

      .btns-parent {
        width: 114px;
        height: 40px;
        border-radius: 36px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
        cursor: pointer;
      }

      .cancel {
        @extend .btns-parent;
        border: 1px solid #000000;
        background-color: white;
        color: #000000;
      }

      .update {
        @extend .btns-parent;
        background-color: $c2;
        color: white;
        border: none;
      }
      .update:hover {
        background-color: $c2hover;
      }
    }
  }
}
