@import "../../styles/colors.scss";

.sidebar-main {
  height: 100vh;
  width: 22%;
  background-color: $c1;
  position: relative;

  img {
    margin-top: 25px;
    margin-left: 6%;
    width: 70px;
    height: 66px;
  }

  .sidebar-option-main {
    height: 310px;
    width: 255px;
    margin-left: 6%;
    // border: 1px solid white;
    margin-top: 25px;
  }

  .single-option {
    width: 100%;
    height: 55px;
    border-radius: 18px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    .optionicon {
      font-size: 35px;
      color: rgba(255, 255, 255, 1);
      margin-left: 20px;
    }

    p {
      width: 48px;
      font-family: Inter;
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      margin-left: 15px;
    }
  }

  .single-option:hover {
    background-color: rgba(47, 47, 47, 1);
  }

  .logoutbtn {
    background-color: $c2;
    width: 102px;
    height: 31px;
    border-radius: 24px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .logouticon {
    }

    p {
      font-family: Inter;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 7px;
    }
  }

  .logoutbtn:hover {
    background-color: $c2hover;
  }
}
