@import "../../styles/colors.scss";
.link-edit-main {
  width: 100%;
  height: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;
  .left {
    width: 65%;
    height: 100%;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .left-upper {
      width: 95%;
      height: 50px;
      //   border: 1px solid black;
      margin-top: 20px;
      .go-back {
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
          font-family: Inter;
          font-size: 15px;
          font-weight: 600;
          line-height: 29px;
          letter-spacing: 0em;
        }
      }
    }

    .left-link {
      width: 90%;
      margin-top: 20px;
      // border: 1px solid black;
    }

    .link-icon {
      height: 70px;
      width: 70px;
      border-radius: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-input {
      width: 90%;
      margin-top: 20px;
      font-family: Inter;
      font-size: 17px;
      font-weight: 600;
      line-height: 29px;
      letter-spacing: 0em;
      // border: 1px solid black;
      input {
        background-color: #f7f7f7;
        height: 50px;
        width: 96%;
        border-radius: 12px;
        padding-left: 10px;
        margin-top: 2px;
        border: none;
        outline: none;
        // margin-left: 20px;
      }

      .btns-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .btn1 {
          width: 110px;
          height: 38px;
          border-radius: 30px;
          border: none;
          outline: none;
          margin-right: 7px;
          cursor: pointer;
          font-family: Inter;
          font-size: 14px;
          font-weight: 600;
          line-height: 29px;
          letter-spacing: 0em;
        }
        .btn2 {
          width: 110px;
          height: 38px;
          border-radius: 30px;
          background-color: #dea527;
          border: none;
          outline: none;
          margin-left: 7px;
          cursor: pointer;
          font-family: Inter;
          font-size: 14px;
          font-weight: 600;
          line-height: 29px;
          letter-spacing: 0em;
          color: white;
        }
        .btn2:hover {
          background-color: $c2hover;
        }
      }
    }
  }

  .right {
    width: 35%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
